.Card {
  border: 1px solid;
  width: 30%;
  height: 266px;
    background: #124164;
    border-radius: 10px;
    position: relative;
    color: aliceblue;
    background-image: url("https://thumbs.dreamstime.com/z/fond-dynamique-abstrait-de-l-arc-en-ciel-3d-13542509.jpg");
  background-size: cover;
  background-color: transparent;
    
    
    
}
.credit-card{
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
}
.input-items{
  scroll-behavior: auto;
  /* filter: blur(1.5rem); */
  margin: -11px;
}
.secondinput-items{
  margin: 108px;
}

.company-items{
  position: absolute;
  left: 40%;
}
.puce-items{
  position: absolute;
  top: 20%;
  left: 3%;
}
.numcomp-items{
  position: absolute;
  bottom: 38%;
  right: 25%;
  font-size: 5px;
}
.logo-items{
  position: absolute;
  right: 5%;
  bottom: 5%;
}
.datevalid-items{
  position: absolute;
  bottom: 18%;
    left: 43%;
}
.foulan-items{
  position: absolute;
  top: 82%;
    left: 10%;
}



